<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>model</title>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="div" style="width: 200px;height: 200px;border: 1px solid red">
    <table border="1" align="center" id="add" width="300">
        <tr>
            <th>姓名</th>
            <th>年龄</th>
            <th>地址</th>
        </tr>
        <tr v-for="user in userList">
            <td v-for="(val,key) in user">{{val}}</td>
        </tr>
    </table>
</div>
</body>
<script>
    new Vue({
        el:"div",
        data:{
                userList:[
                    {
                        username:"张三",
                        age:20,
                        addressL:'广东'
                    },
                    {
                        username:"李四",
                        age:20,
                        addressL:'广东'
                    },
                    {
                        username:"王五",
                        age:20,
                        addressL:'广东'
                    }
                ]
            }
        })

</script>
</html>
